<!--The content below is only a placeholder and can be replaced.-->

<!-- <h2>Here are some links to help you start: {{count}}</h2>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label><br>

  <label>
    Password:
    <input type="text" formControlName="password">
  </label><br>

  <label>
    Region:
    <input type="radio" name="region" value="india" formControlName="region" checked> India
    <input type="radio" name="region" value="austrelia" formControlName="region"> Austrelia
    <input type="radio" name="region" value="us" formControlName="region"> Us
  </label><br>

  <label>
    Type:
    <input type="radio" name="type" value="male" formControlName="type" checked> Free
    <input type="radio" name="type" value="female" formControlName="type"> Fixed
  </label><br>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button><br>

</form>

<br>
<form [formGroup]="loginForm" (ngSubmit)="login()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label><br>

  <label>
    Password:
    <input type="text" formControlName="password">
  </label><br>

  <label>
    Region:
    <input type="radio" name="region" value="india" formControlName="region" checked> India
    <input type="radio" name="region" value="austrelia" formControlName="region"> Austrelia
    <input type="radio" name="region" value="us" formControlName="region"> Us
  </label><br>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button><br>

</form>
<div>You are connected to {{country}}</div> -->
<router-outlet></router-outlet>