<h1>Register</h1>

<form [formGroup]="registerForm" (ngSubmit)="register()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label><br>

  <label>
    Password:
    <input type="text" formControlName="password">
  </label><br>

  <label>
    Type:
    <input type="radio" name="type" value="free" formControlName="type" checked> Free
    <input type="radio" name="type" value="fix" formControlName="type"> Fix
  </label><br>

  <label>
    Region:
    <input type="radio" name="region" value="india" formControlName="region" checked> India
    <input type="radio" name="region" value="austrelia" formControlName="region"> Austrelia
    <input type="radio" name="region" value="us" formControlName="region"> Us
  </label><br>

  <button type="submit" [disabled]="!registerForm.valid">Submit</button><br>

</form>
